@font-face{
    font-family: VT323;
    src: url("VT323-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"VT323";
}

.uploadbackground{
    min-height:100vh;
    background:url('uploadbackground.png') no-repeat;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
}

.curiositiesbackground{
    min-height:100vh;
    background:url('curiositiesbackground.png') no-repeat;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
}
.scrapsbackground{
    min-height:100vh;
    background:url('scrapsbackground.png') no-repeat;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
}
.weavebackground{
    min-height:100vh;
    background:url('weavebackground.png') no-repeat;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
}

.indexbackground{
    min-height:100vh;
    background:url('indexbackground.png') no-repeat;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    background: rgb(255, 0, 76);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    font-size: 20px;
}

.container {
    position: relative;
    width: 100%;
}

.gallery {
    position: relative;
    width: 100%;
    min-height: 900px;
}

.gallerycontainer {
    position: absolute;
    display: inline-block;
}

.galleryimage {
    width: 100%;
    height: auto;
    display: block;
    border: 3px solid white;
}

.img1 {
    top: 30%;
    left: 2%;
    width: 200px;
}

.img2 {
    top: 30%;
    left: 18.4%;
    width: 200px;
}

.img3 {
    top: 30%;
    left: 34.8%;
    width: 200px;
}

.img4 {
    top: 30%;
    left: 51.2%;
    width: 200px;
}

.img5 {
    top: 30%;
    left: 67.6%;
    width: 200px;
}

.img6 {
    top: 30%;
    left: 84%;
    width: 200px;
}

.img7 {
    top: 65%;
    left: 2%;
    width: 200px;
}

.img8 {
    top: 65%;
    left: 18.4%;
    width: 200px;
}

.img9 {
    top: 65%;
    left: 34.8%;
    width: 200px;
}

.img10 {
    top: 65%;
    left: 51.2%;
    width: 200px;
}

.img11 {
    top: 65%;
    left: 67.6%;
    width: 200px;
}

.img12 {
    top: 65%;
    left: 84%;
    width: 200px;
}

.galleryoverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    background-color: rgba(187, 255, 0, 0.3);
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.galleryoverlay span {
    color: white;
    font-size: 20px;
    opacity: 0;
    transition: .5s ease;
}

.gallerycontainer:hover .galleryoverlay {
    opacity: 1;
}

.gallerycontainer:hover .galleryoverlay span {
    opacity: 1;
}

.image {
    width:110px;
    height:auto;
    border:0px;
}

.overlay {
    position: absolute;
    top: -2.5px;
    left: -10px;
    height: 100%;
    width: calc(100% + 20px);
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(0, 46, 255);
    pointer-events: none;
}

.container:hover .overlay {
    opacity: 30%;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color:azure;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after{
    content:'';
    position: absolute;
    left:0;
    bottom: -4px;
    width: 100%;
    height: 3px;
    background:#fff;
    outline:none;
    border-radius: 6px;
    transform: scaleX(0);
    transition:transform .5s;
}

.navigation a:hover::after{
    transform:scaleX(1);
}

.textcenter {
    text-align: center;
}

.pagecenter {
    position: relative;
    top: 150px;
    padding: 1px;
    text-align: center;
}
.heading {
    position: relative;
    top: 100px;
}
.rainbow {
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 0px;
    background-position: left 2px;
    background: linear-gradient(to left, #ff0400, #ee00ff, #0095ff, #00ff0d, #eaff00, #fd9c00, #ff3c00);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
}

.description {
    position: relative;
    z-index: 1;
    top: 105px;
    padding: 0px;
    color: rgb(0, 46, 255);
    font-size: 20px;
    text-align: center;
}

.nyancat {
    position: relative;
    z-index: 1;
    top: 270px;
    border: 3px solid white;
    padding: 0px;
    width: 200px;
    height:auto;
    display: block;
    margin:0 auto;
}

.nextbutton {
    font-weight: bold;
    border: none;
    font-size: 100px;
    background-color: transparent;
    cursor: pointer;
    transition: .3s ease;
    overflow: hidden;
    align-items: center;
    color:rgb(255, 0, 76)
}

.nextbutton:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgb(255, 0, 76));
    opacity: 0;
    transition: opacity .3s ease;
}

.nextbutton:hover {
    background-color: rgb(255, 0, 76);
    color: #fff;
    box-shadow: 0 0 10px rgb(255, 0, 76);
    overflow: hidden;
    
}
.nextbutton:hover:before {
    opacity: 1;
}

.frontbutton {
    position: absolute;
    top: 47.5%;
    right:1%;
}

.backbutton {
    position: absolute;
    top: 47.5%;
    left:1%;
}

.page {
    position: absolute;
    top: 95%;
    right: 2%;
    padding: 0px;
    color: rgb(0, 46, 255);
    font-size: 20px;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.formstyle {
    position: relative;
    top: 140px;
    color: rgb(0, 46, 255);
    font-size: 20px;
    text-align: center;
}

.formstyle textarea {
    display: block;
    height: 200px;
    width: 400px;
    margin: 10px auto;
    box-sizing: border-box;
}


.submitbutton {
    text-align: center;
    margin-top: -20px;
}


.submitbutton button{
    font-size: 20px;
    padding: 10px 30px;
}

.uploadbackground2 {
    border: 3px solid white;
    position: absolute;
    align-items: center;
    top: 180px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    width: 800px;
    height: 470px;
}

.uploadbackgroundalt {
    border: 3px solid white;
    position: absolute;
    align-items: center;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    width: 800px;
    height: 470px;
}

.info {
    position: absolute;
    z-index: 2;
    top: 35%;
    left: 40%;
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-align: left;
}

.info p {
    margin: 10px 0;
}

.info span {
    color: rgb(0, 46, 255);
}

.uploadimage {
    position: absolute;
    top:45%;
    left:20%;
    width:110px;
    height:auto;
    border:0px;
}