@font-face{
    font-family: VT323;
    src: url("VT323-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"VT323";
}

.uploadbackground{
    min-height:100vh;
    background:url('uploadbackground.png') no-repeat;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
}

.curiositiesbackground{
    min-height:100vh;
    background:url('curiositiesbackground.png') no-repeat;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
}
.scrapsbackground{
    min-height:100vh;
    background:url('scrapsbackground.png') no-repeat;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
}
.weavebackground{
    min-height:100vh;
    background:url('weavebackground.png') no-repeat;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
}

.indexbackground{
    min-height:100vh;
    background:url('indexbackground.png') no-repeat;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    background: rgb(255, 0, 76);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    font-size: 20px;
}

.container {
    position: relative;
    width: 100%;
}

.gallery {
    position: relative;
    width: 100%;
    min-height: 900px;
}

.gallerycontainer {
    position: absolute;
    display: inline-block;
}

.galleryimage {
    width: 100%;
    height: auto;
    display: block;
    border: 3px solid white;
}

.img1 {
    top: 30%;
    left: 2%;
    width: 200px;
}

.img2 {
    top: 30%;
    left: 18.4%;
    width: 200px;
}

.img3 {
    top: 30%;
    left: 34.8%;
    width: 200px;
}

.img4 {
    top: 30%;
    left: 51.2%;
    width: 200px;
}

.img5 {
    top: 30%;
    left: 67.6%;
    width: 200px;
}

.img6 {
    top: 30%;
    left: 84%;
    width: 200px;
}

.img7 {
    top: 65%;
    left: 2%;
    width: 200px;
}

.img8 {
    top: 65%;
    left: 18.4%;
    width: 200px;
}

.galleryoverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    background-color: rgb(187, 255, 0);
    opacity: 0;
    pointer-events: none;
}

.gallerycontainer:hover .galleryoverlay {
    opacity: 30%;
}

.image {
    width:110px;
    height:auto;
    border:0px;
}

.overlay {
    position: absolute;
    top: -2.5px;
    left: -10px;
    height: 100%;
    width: calc(100% + 20px);
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(0, 46, 255);
    pointer-events: none;
}

.container:hover .overlay {
    opacity: 30%;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color:azure;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after{
    content:'';
    position: absolute;
    left:0;
    bottom: -4px;
    width: 100%;
    height: 3px;
    background:#fff;
    outline:none;
    border-radius: 6px;
    transform: scaleX(0);
    transition:transform .5s;
}

.navigation a:hover::after{
    transform:scaleX(1);
}

.textcenter {
    text-align: center;
}

.pagecenter {
    position: relative;
    top: 150px;
    padding: 1px;
    text-align: center;
}
.heading {
    position: relative;
    top: 100px;
}
.rainbow {
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 0px;
    background-position: left 2px;
    background: linear-gradient(to left, #ff0400, #ee00ff, #0095ff, #00ff0d, #eaff00, #fd9c00, #ff3c00);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
}

.description {
    position: relative;
    z-index: 1;
    top: 105px;
    padding: 0px;
    color: rgb(0, 46, 255);
    font-size: 20px;
    text-align: center;
}

.nyancat {
    position: relative;
    z-index: 1;
    top: 270px;
    border: 3px solid white;
    padding: 0px;
    width: 200px;
    height:auto;
    display: block;
    margin:0 auto;
}